.lightning-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 0;
  opacity: 0.2;
}

body.light-mode .lightning-container {
  opacity: 0.35;
  mix-blend-mode: multiply;
}
